@media only screen and (max-width: 600px)

body{
    background-color: #ebe6e6;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
*{
    padding: 0;
}
.navbar{
    background-color: white;
    height: 60px;
    margin-top: -10px;
    width: 99em;
    display: flex;
}
 
.button2{
    margin-left: 100px;
}
 
img{
 width: 60px;
 height: 60px;
}
 
.contacts{
    margin-left: 50px;
}
 
.container{
 
}
 
.context {
    width: 100%;
    position: absolute;
    top:10vh;
 
}
 
.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}
 
.context p{
  text-align: center;
    color: #fff;
    font-size: 30px;
}
 
a{
    text-decoration: none;
}
 
.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:60vh;
 
 
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
 
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
 
}
 
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
 
 
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
 
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
 
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
 
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
 
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
 
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
 
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
 
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
 
 
 
@keyframes animate {
 
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
 
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
 
}
 
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
 
  html {
    box-sizing: border-box;
  }
 
  *, *:before, *:after {
    box-sizing: inherit;
  }
 
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
 
  }
 
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    height: 600px;
  }
 
  .card img{
    height: 400px;
  }
 
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
 
  .container {
    padding: 2 16px;
  }
 
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
 
  .title {
    color: grey;
  }
 
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: default;
    width: 100%;
    height: 20px;
  }
 
 
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }